{% extends 'base.html.twig'%}


{% block navigation%}
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">My Espace membre</a></li>
        <li><a href="#">Scent Catalogue</a></li>
        <li><a href="#">Factory story</a></li>
    </ul>
{% endblock %}

{% block body %}
    {% set creatrice = 'Niyagalé Dramé' %}



    Article published: {{ "now"|date("d/m/y") }} <br><br>
Hello {{ name}} {{  surname }}! <br>
    Bienvenue chez {{ societe }}<br><br>
    Je vous présente la créatrice {{ creatrice }}.
    <br><br>

    {% for picture in photo %}
{{ picture }} <br>
{% endfor %}

{% endblock %}
